.cardspace {
  display: flex;
  flex-direction: column;
}

.control-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score {
  font-weight: bold;
  font-size: 150%;
}

.cardgroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
