.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-screen-text {
  margin: 10px 0;
}

.suit-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#spades,
#clubs,
#hearts,
#diamonds,
#full-deck {
  margin: 10px;
  height: 150px;
}

#spades>img,
#clubs>img,
#hearts>img,
#diamonds>img,
#full-deck>img {
  width: auto;
  height: 100%;
}

.main-screen-text>span {
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;  
}
